# Database (inventez les mots de passe)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=barbichetz_videos
MYSQL_USER=root
MYSQL_PASSWORD=root

# JWT (générez une clé aléatoire ou inventez)
JWT_SECRET=uS1DRRRT29rH3FaqwOdkhJ2AvCM4E7S5HqEXE94JiDw=

# OIDC (pour MVP, ces valeurs suffisent)
OIDC_ISSUER_URI=http://localhost:8001/auth
OIDC_CLIENT_ID=barbichetz-app
OIDC_CLIENT_SECRET=barbichetz-app-secret

# Mail (vous avez déjà)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=rasu.christina@gmail.com
MAIL_PASSWORD=christina123@!!!

# MinIO (inventez le mot de passe)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin_pass_123